In [31]:
import pandas as pd
from scipy.stats import chi2_contingency
from math import sqrt

In [32]:
df = pd.DataFrame({
    "x":[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1],
    "y":[0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1
]})

In [33]:
contingency_table = pd.crosstab(df["x"],df["y"])
display(contingency_table)

y   0   1
x
0  25  12
1   8  35

In [ ]:
# Quando colocamos o margins=True, ele calcula as margens automaticamente
contingency_table_margin = pd.crosstab(df["x"],df["y"],margins=True)
display(contingency_table_margin)

y     0   1  All
x
0    25  12   37
1     8  35   43
All  33  47   80

In [35]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [ ]:
print("Chi2:", chi2)
print("P:", p)
print("Graus de liberdade", dof)
print("Frequencias esperadas:\n", expected)

Chi2: 17.705038942050326
P: 2.5794240853467122e-05
Graus de liberdade 1
Frequencias esperadas:
 [[15.2625 21.7375]
 [17.7375 25.2625]]

$Contingencia=\sqrt{\frac{X^{2}_{amostra}}{X^{2}_{amostra}+n}}$

In [ ]:
contingencia = sqrt(chi2/(chi2+80))
display(contingencia)

0.4256865829929998

Contingencia modificada
$C*=\frac{C}{\sqrt{(K-1)/K}}$

Onde $K=min\{linha;coluna\}$

In [41]:
contingencia_modificada = contingencia/(sqrt(2-1)/2)
display(contingencia_modificada)

0.8513731659859995

0,00 a 0,19 - correlação bem fraca

0,20 a 0,39 - correlação fraca

0,40 a 0,69 - correlação moderada

0,70 a 0,89 - correlação forte

0,90 a 1,00 - correlação muito forte